.c-fade-in-bottom {
   animation-name: fadeUp;
   animation-duration: 1.5s;
   opacity: 1;
   @keyframes fadeUp {
      from {
         opacity: 0;
         transform: translateY(50px);
      }
      to {
         opacity: 1;
         transform: translateY(0);
      }
   }
}